@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.theme {
  --clr-accent-200: #FDB602;
  --clr-accent-500: #F79901;
  --clr-accent-shadow: hsla(22deg, 100%, 65%, 40%);
  --clr-accent-contrast: #FFFFFF;
  --clr-text: #252B42;
  --clr-text-200: hsl(228deg, 28%, 80%);
  --clr-text-secondary: #4D4D4D;
  --clr-background: #FFFFFF;
  --clr-background-700: #F2F2F2;
  --ff-base: "Roboto", sans-serif;
  --ff-btn: "Roboto", sans-serif;
  --fs-btn: 14px;
  --fw-btn: regular;
  --fs-h1: 3.625rem;
  --fs-h2: 2.5rem;
  --fs-h4: 1.25rem;
  --fs-small: .75rem;
}

.theme-secondary {
  --clr-background: #F2F2F2;
}

.theme-footer {
  --clr-text: #FFFFFF;
  --clr-background: hsl(20deg,4%,13%);
}

:deep(.btn) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-btn);
  font-size: var(--fs-btn);
  font-weight: var(--fw-btn);
  background-color: var(--clr-accent-500);
  color: var(--clr-accent-contrast);
  padding: 10px 36px 10px 36px;
  border-radius: 2px;
}

:deep(h1) {
  font-size: var(--fs-h1);
  font-weight: bold; 
}

:deep(h2) {
  font-size: var(--fs-h2);
  font-weight: bold; 
}

:deep(h4) {
  font-size: var(--fs-h4);
  font-weight: medium;
  color: var(--clr-accent-500); 
}

:deep(h1::after),
:deep(h2::after),
:deep(h3::after) {
  content: '.';
  color: var(--clr-accent-500);
}

:deep(p) {
  line-height: 24px;
}

:deep(*) {
  color: var(--clr-text);
}